XML/school.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">


<xs:element name="itahari">
<xs:complexType>
    <xs:sequence>
        <xs:element name="college" type="xs:string"></xs:element>
        <xs:element name="subject" type="xs:string"></xs:element>
        <xs:element name="first" type="xs:string"></xs:element>
        <xs:element name="second" type="xs:string"></xs:element>
        <xs:element name="third" type="xs:string"></xs:element>
    </xs:sequence>
    
</xs:complexType>
</xs:element>
</xs:schema>